
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    background-color: hsl(212, 45%, 89%);
}
img{
    align-self: center;
}
h1{
font-family: 'Outfit' ;
}

p{
    font-family: 'Outfit';
}